.avatar-wrap {
  border-radius: 50%;
}

.avatar {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.portrait-sticker {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
